In [117]:
import requests
import json
import pandas as pd
import re
import math

In [62]:
def get_data_aemet(url_consulta):
    server = "https://opendata.aemet.es/opendata"
    get_url = url_consulta
    url = server + get_url

    querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJmZWRlcmljb3J1aXoucnVpekBnbWFpbC5jb20iLCJqdGkiOiJiMTI0NmU5YS0wYzhiLTRjNDMtOWY3Ni1mZWQ0YTg4ZmMwNjIiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTY0MzY2NDc1MCwidXNlcklkIjoiYjEyNDZlOWEtMGM4Yi00YzQzLTlmNzYtZmVkNGE4OGZjMDYyIiwicm9sZSI6IiJ9.jnhEsZqV2hmz7k6wikT1PhyCC5Ec0986TiqfhoZsJPM"}

    headers = {
        'cache-control': "no-cache"
        }

    response = requests.request("GET", url, headers=headers, params=querystring)
    print(url)
    print(response.json())
    data = response.json()
    print(data['datos'])



    response_metadatos = requests.request("GET", data['metadatos'], headers=headers, params=querystring)
    metadatos = response_metadatos.json()
    jsons_campos = metadatos['campos']
    lista_campos = []

    for json_campo in jsons_campos:
        lista_campos.append(json_campo['id'])

   

    response_datos = requests.request("GET", data['datos'], headers=headers, params=querystring)
    lista_climatologias_upper = response_datos.json()
    lista_climatologias_lower = []

    for climatologia_json in lista_climatologias_upper:
        climatologia_json_lower =  {k.lower(): v for k, v in climatologia_json.items()}
        lista_climatologias_lower.append(climatologia_json_lower)
        
    datos_aemet = {}
    datos_aemet['campos'] = lista_campos
    datos_aemet['observaciones'] = lista_climatologias_lower
    
    return datos_aemet

In [63]:
rangos_fechas = [('2013-01-01T00:00:00UTC','2017-12-31T23:59:59UTC'),('2017-01-01T00:00:00UTC','2021-12-31T23:59:59UTC')]
estacion = '5530E'
template_url = "/api/valores/climatologicos/diarios/datos/fechaini/<inicio>/fechafin/<fin>/estacion/<estacion>"
url_consulta = template_url

for i, rango in enumerate(rangos_fechas):
    fecha_ini = rango[0]
    fecha_fin = rango[1]

    url_consulta = re.sub('<inicio>', fecha_ini, url_consulta)
    url_consulta = re.sub('<fin>', fecha_fin, url_consulta)
    url_consulta = re.sub('<estacion>', estacion, url_consulta)

    datos_rango = get_data_aemet(url_consulta)
    if i == 0:
        lista_campos = datos_rango['campos']
        df = pd.DataFrame(columns = lista_campos)

    observaciones_climatologia = datos_rango['observaciones']
    for observacion in observaciones_climatologia:
        df = df.append(observacion , ignore_index=True)

https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2013-01-01T00:00:00UTC/fechafin/2017-12-31T23:59:59UTC/estacion/5530E
{'descripcion': 'exito', 'estado': 200, 'datos': 'https://opendata.aemet.es/opendata/sh/3d3584c6', 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}
https://opendata.aemet.es/opendata/sh/3d3584c6
https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2013-01-01T00:00:00UTC/fechafin/2017-12-31T23:59:59UTC/estacion/5530E
{'descripcion': 'exito', 'estado': 200, 'datos': 'https://opendata.aemet.es/opendata/sh/3d3584c6', 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}
https://opendata.aemet.es/opendata/sh/3d3584c6

In [64]:
df.describe().T

            count unique                 top  freq
fecha        3652   1826          2013-01-01     2
indicativo   3652      1               5530E  3652
nombre       3652      1  GRANADA AEROPUERTO  3652
provincia    3652      1             GRANADA  3652
altitud      3652      1                 567  3652
tmed         3652    283                 9,0    46
prec         3652    130                 0,0  2926
tmin         3652    281                16,5    34
horatmin     3652    389              Varias    96
tmax         3652    346                37,2    30
horatmax     3652    337               15:00    42
dir          3650     38                  99  1118
velmedia     3650     30                 2,5   340
racha        3650     47                 9,7   312
horaracha    3648    563              Varias  1176
sol          3652    144                 9,0    76
presmax      3650    271               952,3    58
horapresmax  3650     17              Varias  2270
presmin      3650    295               949,7    60
horapresmin  3650     24                  16   806

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        3652 non-null   object
 1   indicativo   3652 non-null   object
 2   nombre       3652 non-null   object
 3   provincia    3652 non-null   object
 4   altitud      3652 non-null   object
 5   tmed         3652 non-null   object
 6   prec         3652 non-null   object
 7   tmin         3652 non-null   object
 8   horatmin     3652 non-null   object
 9   tmax         3652 non-null   object
 10  horatmax     3652 non-null   object
 11  dir          3650 non-null   object
 12  velmedia     3650 non-null   object
 13  racha        3650 non-null   object
 14  horaracha    3648 non-null   object
 15  sol          3652 non-null   object
 16  presmax      3650 non-null   object
 17  horapresmax  3650 non-null   object
 18  presmin      3650 non-null   object
 19  horapresmin  3650 non-null   object
dtypes: object(20)
memory usage: 570.8+ KB

In [66]:
df.isnull().sum()

fecha          0
indicativo     0
nombre         0
provincia      0
altitud        0
tmed           0
prec           0
tmin           0
horatmin       0
tmax           0
horatmax       0
dir            2
velmedia       2
racha          2
horaracha      4
sol            0
presmax        2
horapresmax    2
presmin        2
horapresmin    2
dtype: int64

In [67]:
df.columns

Index(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec',
       'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha',
       'horaracha', 'sol', 'presmax', 'horapresmax', 'presmin', 'horapresmin'],
      dtype='object')

In [68]:
columnas_float = ['altitud', 'tmed', 'prec',
       'tmin',  'tmax',  'dir', 'velmedia', 'racha',
        'sol', 'presmax',  'presmin']

In [69]:
# Create a function to transform string values into float
def elem_to_float(elem):
    try:
        return float(elem)
    except:
        pattern = re.compile("(\d+),(\d+)")
        if pattern.match(elem):
            elem = re.sub(r'(\d+),(\d+)', r'\1.\2' , elem)
            return float(elem)

In [ ]:
lista_strings = []

for columna in columnas_float:
    lista_strings = df[columna].tolist()
    for i, elem in enumerate(lista_strings):
        try:
            lista_strings[i] = float(elem)
        except:
            lista_strings[i] = elem_to_float(elem)
    filtered_strings = filter(lambda x: type(x) != float, lista_strings)
    filtered_float = filter(lambda x: type(x) == float, lista_strings)
    print("Strings en columna ", columna)
    print(set(filtered_strings))
    print("Floats en columna ", columna)
    print(set(filtered_float))

In [71]:
for columna in columnas_float:
    df[columna] = df[columna].apply(lambda x: elem_to_float(x))

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        3652 non-null   object
 1   indicativo   3652 non-null   object
 2   nombre       3652 non-null   object
 3   provincia    3652 non-null   object
 4   altitud      3652 non-null   float64
 5   tmed         3650 non-null   float64
 6   prec         3614 non-null   float64
 7   tmin         3148 non-null   float64
 8   horatmin     3652 non-null   object
 9   tmax         3652 non-null   float64
 10  horatmax     3652 non-null   object
 11  dir          3650 non-null   float64
 12  velmedia     3650 non-null   float64
 13  racha        3650 non-null   float64
 14  horaracha    3648 non-null   object
 15  sol          3652 non-null   float64
 16  presmax      3650 non-null   float64
 17  horapresmax  3650 non-null   object
 18  presmin      3650 non-null   float64
 19  horapresmin  3650 non-null   object
dtypes: float64(11), object(9)
memory usage: 570.8+ KB

In [73]:
df['fecha'] = pd.to_datetime(df['fecha'])
df['year'] = df['fecha'].dt.year
df['month'] = df['fecha'].dt.month
df['day'] = df['fecha'].dt.day

In [74]:
df.drop('fecha', axis = 1, inplace = True)
df.head()

,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,...,racha,horaracha,sol,presmax,horapresmax,presmin,horapresmin,year,month,day
0,5530E,GRANADA AEROPUERTO,GRANADA,567.0,7.7,0.9,3.1,01:24,12.3,14:30,...,8.9,20:05,1.2,956.6,Varias,953.5,14,2013,1,1
1,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.7,0.0,NaN,07:15,13.5,14:11,...,10.3,Varias,7.6,959.8,Varias,956.3,01,2013,1,2
2,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.8,0.0,NaN,07:36,15.4,14:55,...,6.1,Varias,8.9,969.8,24,959.8,00,2013,1,3
3,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.1,0.0,NaN,07:37,14.7,14:14,...,4.7,Varias,8.9,970.7,Varias,967.2,15,2013,1,4
4,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.4,0.0,NaN,07:37,15.3,15:48,...,4.7,18:36,8.9,968.6,Varias,964.2,16,2013,1,5

In [75]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
altitud,3652.0,567.000000,0.000000,567.0,567.0,567.0,567.0,567.0
tmed,3650.0,16.753260,7.535168,1.4,10.1,16.8,22.9,33.0
prec,3614.0,0.949585,3.571048,0.0,0.0,0.0,0.0,52.1
tmin,3148.0,9.927192,5.632450,0.0,5.4,9.9,14.5,25.3
tmax,3652.0,25.249014,8.993877,5.5,17.3,25.0,32.6,45.7
dir,3650.0,46.068493,35.853791,1.0,20.0,28.0,99.0,99.0
velmedia,3650.0,2.406301,1.290851,0.0,1.4,2.2,3.1,10.6
racha,3650.0,9.560274,3.100768,2.2,7.8,9.7,11.4,26.4
sol,3652.0,8.732585,3.977329,0.0,6.2,9.6,12.0,14.3
presmax,3650.0,954.580164,5.145171,928.1,951.6,954.0,957.2,975.0
presmin,3650.0,950.149644,5.581842,918.5,947.4,949.8,952.9,971.7
year,3652.0,2015.000548,1.414213,2013.0,2014.0,2015.0,2016.0,2017.0
month,3652.0,6.523549,3.449005,1.0,4.0,7.0,10.0,12.0
day,3652.0,15.727820,8.800529,1.0,8.0,16.0,23.0,31.0

In [76]:
df.isnull().sum()

indicativo       0
nombre           0
provincia        0
altitud          0
tmed             2
prec            38
tmin           504
horatmin         0
tmax             0
horatmax         0
dir              2
velmedia         2
racha            2
horaracha        4
sol              0
presmax          2
horapresmax      2
presmin          2
horapresmin      2
year             0
month            0
day              0
dtype: int64

In [118]:
def column_fill_na(columna, valor, day, month):
    if math.isnan(valor):
        return df.loc[ ((df[columna].notnull()) & (df['month'] == month ) & (df['day'] == day ) ), [columna]].mean()  
    else:
        return valor

In [119]:
df['tmin'] = df.loc[ : , ['tmin','day','month']].apply(lambda row: column_fill_na( 'tmin', row['tmin'], row['day'], row['month']), axis = 1 )

In [120]:
df

,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,...,racha,horaracha,sol,presmax,horapresmax,presmin,horapresmin,year,month,day
0,5530E,GRANADA AEROPUERTO,GRANADA,567.0,7.7,0.9,2.566667,01:24,12.3,14:30,...,8.9,20:05,1.2,956.6,Varias,953.5,14,2013,1,1
1,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.7,0.0,9.550000,07:15,13.5,14:11,...,10.3,Varias,7.6,959.8,Varias,956.3,01,2013,1,2
2,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.8,0.0,10.100000,07:36,15.4,14:55,...,6.1,Varias,8.9,969.8,24,959.8,00,2013,1,3
3,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.1,0.0,6.733333,07:37,14.7,14:14,...,4.7,Varias,8.9,970.7,Varias,967.2,15,2013,1,4
4,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.4,0.0,2.300000,07:37,15.3,15:48,...,4.7,18:36,8.9,968.6,Varias,964.2,16,2013,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,5530E,GRANADA AEROPUERTO,GRANADA,567.0,10.2,2.2,4.500000,00:19,13.7,13:08,...,16.4,13:22,1.2,953.6,00,946.6,06,2017,12,27
3648,5530E,GRANADA AEROPUERTO,GRANADA,567.0,10.9,1.3,4.533333,Varias,14.0,13:24,...,10.3,12:06,0.1,955.3,Varias,950.6,06,2017,12,28
3649,5530E,GRANADA AEROPUERTO,GRANADA,567.0,10.5,0.2,4.250000,23:30,14.6,15:13,...,6.7,00:45,0.6,962.4,Varias,955.2,01,2017,12,29
3650,5530E,GRANADA AEROPUERTO,GRANADA,567.0,9.0,0.1,4.500000,Varias,13.4,15:55,...,3.1,Varias,2.9,963.1,Varias,960.0,17,2017,12,30
3651,5530E,GRANADA AEROPUERTO,GRANADA,567.0,8.4,0.0,2.750000,07:31,13.6,13:45,...,8.9,15:00,1.5,965.7,Varias,959.7,06,2017,12,31

In [106]:
df[df['tmin'].isnull()]

,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,...,racha,horaracha,sol,presmax,horapresmax,presmin,horapresmin,year,month,day
0,5530E,GRANADA AEROPUERTO,GRANADA,567.0,7.7,0.9,NaN,01:24,12.3,14:30,...,8.9,20:05,1.2,956.6,Varias,953.5,14,2013,1,1
9,5530E,GRANADA AEROPUERTO,GRANADA,567.0,9.0,0.0,NaN,02:52,17.0,14:51,...,7.2,Varias,6.2,961.5,Varias,956.7,15,2013,1,10
10,5530E,GRANADA AEROPUERTO,GRANADA,567.0,8.4,0.0,NaN,07:44,16.1,14:33,...,6.7,16:14,8.1,958.1,Varias,955.0,16,2013,1,11
12,5530E,GRANADA AEROPUERTO,GRANADA,567.0,7.4,4.3,NaN,22:27,10.9,14:01,...,12.8,15:53,4.8,953.4,00,949.7,06,2013,1,13
13,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.4,0.0,NaN,23:48,11.7,14:55,...,8.3,Varias,9.1,957.2,Varias,952.6,00,2013,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,5530E,GRANADA AEROPUERTO,GRANADA,567.0,10.2,2.2,NaN,00:19,13.7,13:08,...,16.4,13:22,1.2,953.6,00,946.6,06,2017,12,27
3648,5530E,GRANADA AEROPUERTO,GRANADA,567.0,10.9,1.3,NaN,Varias,14.0,13:24,...,10.3,12:06,0.1,955.3,Varias,950.6,06,2017,12,28
3649,5530E,GRANADA AEROPUERTO,GRANADA,567.0,10.5,0.2,NaN,23:30,14.6,15:13,...,6.7,00:45,0.6,962.4,Varias,955.2,01,2017,12,29
3650,5530E,GRANADA AEROPUERTO,GRANADA,567.0,9.0,0.1,NaN,Varias,13.4,15:55,...,3.1,Varias,2.9,963.1,Varias,960.0,17,2017,12,30
3651,5530E,GRANADA AEROPUERTO,GRANADA,567.0,8.4,0.0,NaN,07:31,13.6,13:45,...,8.9,15:00,1.5,965.7,Varias,959.7,06,2017,12,31

In [84]:
df

,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,...,racha,horaracha,sol,presmax,horapresmax,presmin,horapresmin,year,month,day
0,5530E,GRANADA AEROPUERTO,GRANADA,567.0,7.7,0.9,3.1,01:24,12.3,14:30,...,8.9,20:05,1.2,956.6,Varias,953.5,14,2013,1,1
1,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.7,0.0,NaN,07:15,13.5,14:11,...,10.3,Varias,7.6,959.8,Varias,956.3,01,2013,1,2
2,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.8,0.0,NaN,07:36,15.4,14:55,...,6.1,Varias,8.9,969.8,24,959.8,00,2013,1,3
3,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.1,0.0,NaN,07:37,14.7,14:14,...,4.7,Varias,8.9,970.7,Varias,967.2,15,2013,1,4
4,5530E,GRANADA AEROPUERTO,GRANADA,567.0,6.4,0.0,NaN,07:37,15.3,15:48,...,4.7,18:36,8.9,968.6,Varias,964.2,16,2013,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,5530E,GRANADA AEROPUERTO,GRANADA,567.0,10.2,2.2,6.6,00:19,13.7,13:08,...,16.4,13:22,1.2,953.6,00,946.6,06,2017,12,27
3648,5530E,GRANADA AEROPUERTO,GRANADA,567.0,10.9,1.3,7.8,Varias,14.0,13:24,...,10.3,12:06,0.1,955.3,Varias,950.6,06,2017,12,28
3649,5530E,GRANADA AEROPUERTO,GRANADA,567.0,10.5,0.2,6.4,23:30,14.6,15:13,...,6.7,00:45,0.6,962.4,Varias,955.2,01,2017,12,29
3650,5530E,GRANADA AEROPUERTO,GRANADA,567.0,9.0,0.1,4.5,Varias,13.4,15:55,...,3.1,Varias,2.9,963.1,Varias,960.0,17,2017,12,30
3651,5530E,GRANADA AEROPUERTO,GRANADA,567.0,8.4,0.0,3.1,07:31,13.6,13:45,...,8.9,15:00,1.5,965.7,Varias,959.7,06,2017,12,31